In [8]:
import pandas as pd
import numpy as np
from pybedtools import BedTool

In [12]:
# coding: utf-8
p = pd.read_excel("Martin2016_T2.xlsx")
p['Genomic region']
hf = BedTool("high_freq.bed")

In [13]:
p.columns
p = p['Genomic region']
p = p.str.split(":", expand=True, n=2)
p[1].str.split("–", expand=True, n=2)
c = p[1].str.split("-", expand=True, n=2)
c = p[1].str.split("–", expand=True, n=2)
p[1] = c[0]
p[2] = c[1]
p[1].replace({',':''},regex=True).apply(pd.to_numeric,1)
p[1] = p[1].replace({',':''},regex=True).apply(pd.to_numeric,1)
p[2] = p[2].replace({',':''},regex=True).apply(pd.to_numeric,1)
p = p.drop([7], axis=0)
p.reset_index(inplace=True)
p[1].astype(np.int64)
p[1] = p[1].astype(np.int64)-1
p[2] = p[2].astype(np.int64)
p[0] = p[0].astype(str)
p[0] = p[0].str.replace("Chr", "chr") 
p.drop(['index'], axis=1, inplace=True)
p.to_csv("Martin2016_T2.bed", index=False, header=None, sep='\t')

       0          1          2
0   chr1  199707794  200016460
1  chr13   49532445   49790867
2   chr2   88815370   89061977
3   chr3   89790775   90031537
4   chr3   30590735   30816806
5   chr6   42492776   42713223
6   chr8   93809504   94011334
7   chr7  113813986  113963584

In [19]:
hf = BedTool('2020_Nahigh_freq.bed')
print(len(hf))

136414

In [20]:
martin = BedTool("Martin2016_T2.bed")
print(len(martin))

8

In [22]:
inters = hf.intersect(martin, f=1, wo=True)
inters.saveas("HF_inMartin2016.bed")